# Application
NODE_ENV=development
APP_PORT=3001
APP_NAME=logf-auth-service

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=logf_auth
DB_SCHEMA=public
DB_SYNCHRONIZE=false
DB_LOGGING=true
DB_SSL=false
